* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    --standard-padding: 10px;
    --image-width: 200px;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--standard-padding);
}

h1 {
    color: var(--primary-color);
    margin: 0;
}

img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 100%;
    height: auto;
}

main img {
    width: var(--image-width);
    height: auto;
    float: right;
    position: static;
    clear: both;
    margin-left: 1rem;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 10px var(--shadow-color);
}

p {
    padding: 0;
    margin-bottom: 0.5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

aside p {
    text-align: left;
    line-height: 1.6;
    margin: 15px 20px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #d0cece;
    color: #000;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    color: black;
}